
%h1 Add a Class Term To Database

= form_tag admin_index_path, :method => :get do

  = label :term, 'Term'
  = text_field_tag :term

  = label :password, 'Password'
  = password_field_tag :password
  = submit_tag 'Submit'