= content_for :title, "Admin Interface"

%h1 Add a Class Term To Database

= form_tag admin_crawl_grades_path, :method => :post do

  = label :term, 'Term'
  = text_field_tag :term

  = label :password, 'Password'
  = password_field_tag :password
  = submit_tag 'Submit'